#post-list .form-group{
    padding: 0.35rem 1.25rem 0;
    margin: 0.1rem 0 0.25rem;
}
#post-list .form-group label{
    padding: 5px 0;
    margin:0 5px;
    vertical-align: middle;
    font-size: 16px;
}